@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Class untuk Border Doodle */
@layer utilities {
  .doodle-border {
    /* Ini rumusnya: Membuat sudut tidak simetris */
    border-radius: 255px 15px 225px 15px / 15px 255px 15px 255px;
    border-width: 3px;
    border-color: black;
  }

    .doodle-border-b {
    /* Ini rumusnya: Membuat sudut tidak simetris */
    border-radius: 255px 15px 225px 15px / 15px 255px 15px 255px;
    border-width: 3px;
    border-color: black;
  }

  .doodle-shadow {
     /* Bayangan kasar tanpa blur */
     box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
  }

  .doodle-sketch {
    border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
    border: 3px solid black;
    
    box-shadow: 3px 4px 0px 0px white, 6px 8px 0px 0px black;
    
    transition: all 0.3s ease;
  }

  .doodle-sketch:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 6px 0px 0px white, 10px 12px 0px 0px black;
  }

  /* Container harus relative */
  .doodle-tape {
    position: relative;
    background-color: white;
    border: 2px solid black;
    /* Bentuk kertas agak miring dikit rotasinya nanti diatur di HTML */
  }

  /* Membuat elemen palsu "Selotip" di atas tengah */
  .doodle-tape::before {
    content: '';
    position: absolute;
    top: -15px; /* Naik ke atas */
    left: 50%;
    transform: translateX(-50%) rotate(-2deg); /* Miringin dikit */
    
    width: 100px; /* Lebar selotip */
    height: 30px; /* Tinggi selotip */
    
    background-color: rgba(255, 255, 255, 0.4); /* Putih transparan */
    border: 1px solid rgba(0,0,0,0.1); /* Garis halus */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Bayangan selotip */
    
    /* Bikin efek selotip transparan */
    backdrop-filter: blur(2px);
    z-index: 10;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fdfbf7; /* Warna kertas agak krem */
  background-image: radial-gradient(#d1d5db 1px, transparent 1px);
  background-size: 20px 20px; /* Jarak antar titik */
}
